.archive-team {
  margin-top: 20px;
  .team_member {
    width: 25%;
    margin-bottom: 20px;
    @media (max-width: 1020px) {
      width: 33.3333%;
    }
    @media (max-width: 600px) {
      width: 50%;
    }

    @media (max-width: 420px) {
      width: 100%;
    }
    float: left;
    header {
      padding: 10px;
      padding-left: 24px;
    }
    h3 {
      color: $black;
      font-size: 24px;
    }
  }
  .entry-content {
    img {
      width: 100%;
    }
    p {
      margin-bottom: 0;
    }
  }
}
