/******************************************************************
Author: Connor Krupp
© Napp Development LLC

Stylesheet: Footer Stylesheet
******************************************************************/

.footer {
  clear: both;
  background-color: $black;
  color: $light-gray;
}

.footer-links {
  text-align: center;
  margin: 20px 0;
  ul {
    display: inline;
    text-align: center;
    margin: 0 auto;
    float: none;
    li {
      display: inline-block;
      position: relative;
      a {
        text-transform: uppercase;

        &:hover {
          color: #F8C726;
        }
      }
    }
  }
}


.copyright {
  text-align: center;
}
