/******************************************************************
Author: Connor Krupp
© Napp Development LLC

Stylesheet: Front Page Stylesheet
******************************************************************/

.home {
  .home-hero {
    .hero-content {
      width: 90%;
      max-width: 440px;
    }
  }
}
