/******************************************************************
Author: Connor Krupp
© Napp Development LLC

Stylesheet: Header Stylesheet
******************************************************************/

.header {
  background-color: $white;
  padding: 20px 0;

  #logo {
    float: left;
    margin: 0;

    a {
      color: $white;
    }

    img {
      width: 250px;
    }

    @media (max-width: 900px) {
      float: none;
      text-align: center;

    }
  }

  nav {
    border: 0;

    ul {
      margin-top:10px;
    }

    li {
      float: left;
      position: relative;

      a {
        border-bottom: 0;
        font-size: 18px;
        text-transform: uppercase;
        color: $black;

        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */
        &:hover, &:focus {
          color: #F8C726;
        }
      }

      &:first-child {}
      &:last-child {}

      /*
      plan your menus and drop-downs wisely.
      */
      ul.sub-menu,
      ul.children {
        margin-top: 0;
        border: 1px solid #ccc;
        border-top: 0;
        position: absolute;
        visibility: hidden;
        z-index: 8999;

        li {

          a {
            padding-left: 10px;
            border-right: 0;
            display: block;
            width: 180px;
            border-bottom: 1px solid #ccc;

            &:hover,
            &:focus {}

            &:link {}
          }

          &:first-child {}

          &:last-child {

            a {
              border-bottom: 0;
            }
          }

          /*
          if you need to go deeper, go nuts
          just remember deeper menus suck
          for usability. k, bai.
          */
          ul {
            top:0;
            left:100%;
          }
        }

        /* highlight sub-menu current page */
        li.current-menu-item,
        li.current_page_item,
        li.current_page_ancestor {
          a {}
        }
      }

      /* showing sub-menus */
      &:hover > ul {
        top: auto;
        visibility:visible;
      }

    } /* end .menu ul li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {
      a {}
    }  /* end current highlighters */

    @media (max-width: 900px) {
      text-align: center;
      display: block;
      ul {
        display: inline;
        text-align: center;
        margin: 10px auto 0 auto;
        float: none;
        li {
          display: inline-block;
          position: relative;
          float: none;
          a {
            text-transform: uppercase;

            &:hover {
              color: #F8C726;
            }
          }
        }
      }
    }
  } /* end .nav */
}
